@charset "utf-8";

body {width:100%; height:5000px;}

#scorllDownBox {width:150px; height:120px; margin:0 auto; top:0; bottom:0; margin-top:70px;
        display:flex;  justify-content:center; align-items:center;}
.scrollDown {width: 30px; height: 45px; border: 2px solid #3e3e3e; border-radius: 60px; 
    position: absolute;  right:50; bottom:-320px; }
.scrollDown::before {content: ''; width: 6px; height: 6px; position: absolute; top: 10px; left: 50%; 
        transform: translateX(-50%); background-color: #3e3e3e; border-radius: 50%; opacity: 1; 
        animation: point 2s infinite; -webkit-animation: point 2s infinite;}
        @keyframes point{to{opacity: 0; top: 30px;}}
        @-webkit-keyframes point{to{opacity: 0; top: 30px;}}
.scrollDown .fas {color:#3e3e3e; text-align:center; font-size:11px; margin-left:9px;}
.scrollDown .fas:first-of-type {position: absolute; top:50px; }
.scrollDown .fas:nth-of-type(2) {position: absolute; top:58px; }

#about_top {width:1300px; height:200px; margin:0 auto; margin-top:240px; display:flex; align-items:flex-end; }
#about_box {width:1300px; height:600px; margin:0 auto; margin-top:10px; 
          display:flex; flex-direction:row;}
#about_top h1 { font-family:'GowunBatang-Bold'; color:#3e3e3e; font-size:67px; margin-left:20px;}
.about_l {width:38%; height:600px; }
.about_img {width:100%; height:600px; display:flex; align-items:center;}
.about_img img {width:430px; height:430px; margin-left:20px;}
.about_r {width:62%; height:600px;}
.about_r h1 {font-family:'GowunBatang-Bold'; color:#c9beb4; display: inline-block;  
            font-size:75px; margin-top:180px; margin-left:20px;}
.about_r span{font-family:'GowunBatang-Regular'; color:#afa59b; font-size:26px; margin-top:1px; margin-left:7px;}
.about_r h2 {font-family:'GowunBatang-Bold'; color:#3e3e3e; font-size:38px; margin-top:11px;  margin-left:25px;}
.about_r p {font-family:'S-CoreDream-4Regular'; color:#3e3e3e; font-size:15px; line-height:27px; 
            margin-top:7px; margin-left:32px;}

#about_2box {width:1300px; height:600px; margin:0 auto; margin-top:10px; 
                display:flex; flex-direction:row; margin-top:100px;}
.about_2l {width:62%; height:600px;}
.about_2l h1 {font-family:'GowunBatang-Bold'; color:#c9beb4; display: inline-block;  
        font-size:75px; margin-top:190px; margin-left:20px;}
.about_2l span{font-family:'GowunBatang-Regular'; color:#afa59b; font-size:26px; margin-top:1px; margin-left:7px;}
.about_2l h2 {font-family:'GowunBatang-Bold'; color:#3e3e3e; font-size:38px; margin-top:11px;  margin-left:25px;}
.about_2l p {font-family:'S-CoreDream-4Regular'; color:#3e3e3e; font-size:15px; line-height:27px; 
        margin-top:7px; margin-left:32px;}
.about_2r {width:38%; height:600px; }
.about_2img {width:100%; height:600px; display:flex; align-items: center; }
.about_2img img {width:370px; height:494px; position: absolute; right:310px; z-index:-1;}

#skill_box {width:1300px; height:700px; margin:0 auto; }


#work_top_box {width:1300px; height:165px; margin:0 auto; margin-top:10px; display:flex; align-items:flex-end; 
         justify-content:center;  margin-top:55px; }
#work_top_box h1 { font-family:'GowunBatang-Bold'; color:#3e3e3e; font-size:67px; }
#work_box {width:1600px; height:670px; margin:0 auto;}

/* 첫번째 work  */
.work1_box {width:1600px; height:670px; margin:0 auto; display:flex; flex-direction:row; }
.work_1_s {width:8%; height:670px; margin:0 auto; display:flex; flex-direction:column;  }
.work_1_l {width:25%; height:670px; margin:0 auto; display:flex; flex-direction:column; }
.box1_work { width:100%; height:320px;}
.box1_work h1 {font-family:'GowunBatang-Bold'; color:#c9beb4; font-size:100px; margin-top:63px;}
.box1_work h2 {font-family:'S-CoreDream-4Regular'; color:#3e3e3e;  font-size:49px; letter-spacing: 1px; 
               margin-left:6px; margin-top:23px;}
.box1_work h3 {font-family:'S-CoreDream-4Regular'; color:#817f7d; font-size:23px; 
               text-transform:uppercase; margin-top:-10px; margin-left:8px;letter-spacing: 2px;  }
.box2_work { width:100%; height:200px; }
.box2_work h4 {font-family:'S-CoreDream-5Medium'; color:#3e3e3e; font-size:13px; letter-spacing:1px; 
  margin-top:5px; margin-left:7px;}
.box2_work .color_d:first-of-type {height: 20px; width: 20px; background-color:#000; border-radius:50%; 
            display: inline-block; margin-top:-5px; margin-left:8px;}
.box2_work .color_d:nth-of-type(2) {height: 20px; width: 20px; background-color:#c1c0c0; border-radius:50%; 
  display: inline-block; margin-top:-5px; margin-left:2px;}
.box2_work p {font-family:'S-CoreDream-4Regular'; color:#3e3e3e; font-size:14px; line-height:23px; 
              margin-top:10px;margin-left:7px; }
.box3_work { width:100%; height:60px; margin-top: 15px; }
.work_1_r {width:69%; height:670px; margin:0 auto; display:flex; align-items: center; }
.w_imgbox {width:900px; height:560px; background-color:#fff; margin-left:40px;
           border-radius: 50px 10px;  box-shadow: 3px 3px 15px 0 #d5d0cd; overflow: hidden; }
.w_imgbox img {width:100%;}
.w_imgbox img:hover {cursor: grab;}
/* 첫번째 work  */

/* 두번째 work  */
.work2_box {width:1600px; height:670px; margin:0 auto; display:flex; flex-direction:row; }
.work_2_s {width:8%; height:670px; margin:0 auto; display:flex; flex-direction:column;  }
.work_2_l {width:25%; height:670px; margin:0 auto; display:flex; flex-direction:column; }
.box1_work_2 { width:100%; height:320px;}
.box1_work_2 h1 {font-family:'GowunBatang-Bold'; color:#c9beb4; font-size:100px; margin-top:63px;}
.box1_work_2 h2 {font-family:'S-CoreDream-4Regular'; color:#3e3e3e;  font-size:49px; letter-spacing: 1px; 
               margin-left:6px; margin-top:23px;}
.box1_work_2 h3 {font-family:'S-CoreDream-4Regular'; color:#817f7d; font-size:23px; 
               text-transform:uppercase; margin-top:-10px; margin-left:8px;letter-spacing: 2px;  }
.box2_work_2 { width:100%; height:200px; }
.box2_work_2 h4 {font-family:'S-CoreDream-5Medium'; color:#3e3e3e; font-size:13px; letter-spacing:1px; 
  margin-top:5px; margin-left:7px;}
.box2_work_2 .color_d:first-of-type {height: 20px; width: 20px; background-color:#000; border-radius:50%; 
            display: inline-block; margin-top:-5px; margin-left:8px;}
.box2_work_2 .color_d:nth-of-type(2) {height: 20px; width: 20px; background-color:#c1c0c0; border-radius:50%; 
  display: inline-block; margin-top:-5px; margin-left:2px;}
.box2_work_2 .color_d:nth-of-type(3) {height: 20px; width: 20px; background-color:#fff; border-radius:50%; 
  display: inline-block; margin-top:-5px; margin-left:2px;}
.box2_work_2 p {font-family:'S-CoreDream-4Regular'; color:#3e3e3e; font-size:14px; line-height:23px; 
              margin-top:10px; margin-left:7px; }
.box3_work_2 { width:100%; height:60px; margin-top: 15px; }
.work_2_r {width:69%; height:670px; margin:0 auto; display:flex;  }
.w_imgbox_2 {width:850px; height:480px; background-color:#fff; margin-left:40px; margin-top:80px;
           border-radius: 50px 10px;  box-shadow: 3px 3px 15px 0 #d5d0cd; overflow: hidden; margin-left:70px; }
.w_imgbox_2 img {width:100%; height:100%;}
.w_imgbox_2 img:hover {cursor: grab;}
.ipad_box2 {width:260px; height:320px; margin-top:280px; display: inline-block; margin-left:-180px; }
.ipad_box2 img {width:100%; height:100%; }
.ipad_img_box2 {width:193px; height:256px; display: inline-block; margin-top:30px; margin-left:-226px; position:absolute;
  overflow: hidden;}
.ipad_img_box2 img {width:100%; }    
.ipad_img_box2 img:hover {cursor: grab;}  
.iphone_box2 {width:160px; height:250px; display: inline-block; margin-left:-300px; margin-top:360px; z-index:3;}  
.iphone_img_box2 {width:104px; height:190px; margin-left:28px; margin-top:-220px; position:absolute; overflow: hidden;}
.iphone_img_box2 img {width:100%;}
.iphone_img_box2 img:hover {cursor: grab;}
/* 두번째 work  */





/* work 슬라이드 */
.mySlides {display: none}
 #work_box img {vertical-align: middle; }

.work_container {
  max-width: 1700px;
  height:100%;
  position: relative;
  margin: auto;
  margin-top:40px;
}

.w_dots {width:50px; height:100%; position:absolute; top:0; right:0; z-index:10;
        display:flex; flex-direction:column; align-items:center; justify-content:center;}

.w_dot {
  cursor: pointer;
  height: 12px;
  width: 12px; margin:5px 0;

  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
}

.active, .w_dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* work 슬라이드 */



/* work 메인/서브 버튼 */
.button:first-of-type {
  --color: #fff;
  --color-hover: var(--color);
  --background: #df9090;
  --background-hover: var(--background);
  --hover-back: #646363;
  --hover-front: #3e3e3e;
  padding: 8px 26px;
  margin-left:3px;
  border-radius: 20px;
  line-height: 24px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 5px;
  font-family: "S-CoreDream-4Regular";
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  color: var(--c, var(--color));
  background: var(--b, var(--background));
}

.button:nth-of-type(2) {
  --color: #fff;
  --color-hover: var(--color);
  --background: #d0bbae;
  --background-hover: var(--background);
  --hover-back: #646363;
  --hover-front: #3e3e3e;
  padding: 8px 26px;
  margin-left:2px;
  border-radius: 20px;
  line-height: 24px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 5px;
  font-family: "S-CoreDream-4Regular";
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  color: var(--c, var(--color));
  background: var(--b, var(--background));
}

.button:nth-of-type(3) {
  --color: #fff;
  --color-hover: var(--color);
  --background: #d0bbae;
  --background-hover: var(--background);
  --hover-back: #646363;
  --hover-front: #3e3e3e;
  padding: 8px 26px;
  margin-left:2px;
  border-radius: 20px;
  line-height: 24px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 5px;
  font-family: "S-CoreDream-4Regular";
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  color: var(--c, var(--color));
  background: var(--b, var(--background));
}


.button:not(.simple):before, .button:not(.simple):after {
  content: '';
  position: absolute;
  background: var(--pb, var(--hover-back));
  top: 0;
  left: 0;
  right: 0;
  height: 200%;
  border-radius: var(--br, 40%);
  -webkit-transform: translateY(var(--y, 50%));
          transform: translateY(var(--y, 50%));
  -webkit-transition: border-radius 0.5s ease var(--br-d, 0.08s), -webkit-transform var(--d, 0.4s) ease-in var(--d-d, 0s);
  transition: border-radius 0.5s ease var(--br-d, 0.08s), -webkit-transform var(--d, 0.4s) ease-in var(--d-d, 0s);
  transition: transform var(--d, 0.4s) ease-in var(--d-d, 0s), border-radius 0.5s ease var(--br-d, 0.08s);
  transition: transform var(--d, 0.4s) ease-in var(--d-d, 0s), border-radius 0.5s ease var(--br-d, 0.08s), -webkit-transform var(--d, 0.4s) ease-in var(--d-d, 0s);
}
.button:not(.simple):after {
  --pb: var(--hover-front);
  --d: .44s;
}
.button div {
  z-index: 1;
  position: relative;
  display: flex;
}
.button div span {
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation: var(--name, none) 0.7s linear forwards 0.18s;
          animation: var(--name, none) 0.7s linear forwards 0.18s;    
}
.button.in {
  --name: move;
}
.button.in:not(.out) {
  --c: var(--color-hover);
  --b: var(--background-hover);
}
.button.in:not(.out):before, .button.in:not(.out):after {
  --y: 0;
  --br: 5%;
}
.button.in:not(.out):after {
  --br: 10%;
  --d-d: .02s;
}

.button.in.out:before {
  --d-d: .06s;
}

@-webkit-keyframes move {
  30%,
    36% {
    -webkit-transform: translateY(calc(-6px * var(--move))) translateZ(0) rotate(calc(-13deg * var(--rotate) * var(--part)));
            transform: translateY(calc(-6px * var(--move))) translateZ(0) rotate(calc(-13deg * var(--rotate) * var(--part)));
  }
  50% {
    -webkit-transform: translateY(calc(3px * var(--move))) translateZ(0) rotate(calc(6deg * var(--rotate) * var(--part)));
            transform: translateY(calc(3px * var(--move))) translateZ(0) rotate(calc(6deg * var(--rotate) * var(--part)));
  }
  70% {
    -webkit-transform: translateY(calc(-2px * var(--move))) translateZ(0) rotate(calc(-3deg * var(--rotate) * var(--part)));
            transform: translateY(calc(-2px * var(--move))) translateZ(0) rotate(calc(-3deg * var(--rotate) * var(--part)));
  }
}
/* work 메인/서브 버튼 */