@charset "utf-8";

body {width:100%; height:5000px;}

#scorllDownBox {width:150px; height:120px; margin:0 auto; top:0; bottom:0; margin-top:70px;
        display:flex;  justify-content:center; align-items:center;}
.scrollDown {width: 30px; height: 45px; border: 2px solid #3e3e3e; border-radius: 60px; 
    position: absolute;  right:50; bottom:-320px; }
.scrollDown::before {content: ''; width: 6px; height: 6px; position: absolute; top: 10px; left: 50%; 
        transform: translateX(-50%); background-color: #3e3e3e; border-radius: 50%; opacity: 1; 
        animation: point 2s infinite; -webkit-animation: point 2s infinite;}
        @keyframes point{to{opacity: 0; top: 30px;}}
        @-webkit-keyframes point{to{opacity: 0; top: 30px;}}
.scrollDown .fas {color:#3e3e3e; text-align:center; font-size:13px; margin-left:9px;}
.scrollDown .fas:first-of-type {position: absolute; top:50px; }
.scrollDown .fas:nth-of-type(2) {position: absolute; top:58px; }

#about_top {width:1300px; height:200px; margin:0 auto; margin-top:240px; display:flex; align-items:flex-end; }
#about_box {width:1300px; height:600px; margin:0 auto; margin-top:10px; 
          display:flex; flex-direction:row;}
#about_top h1 { font-family:'GowunBatang-Bold'; color:#3e3e3e; font-size:72px; margin-left:20px;}
.about_l {width:38%; height:600px; }
.about_img {width:100%; height:600px; display:flex; align-items:center;}
.about_img img {width:430px; height:430px; margin-left:20px;}
.about_r {width:62%; height:600px;}
.about_r h1 {font-family:'GowunBatang-Bold'; color:#c9beb4; display: inline-block;  
            font-size:70px; margin-top:180px; margin-left:20px;}
.about_r span{font-family:'GowunBatang-Regular'; color:#afa59b; font-size:26px; margin-top:1px; margin-left:7px;}
.about_r h2 {font-family:'GowunBatang-Bold'; color:#3e3e3e; font-size:38px; margin-top:11px;  margin-left:25px;}
.about_r p {font-family:'S-CoreDream-3Light'; color:#3e3e3e; font-size:15px; line-height:27px; 
            margin-top:7px; margin-left:32px;}

#about_2box {width:1300px; height:600px; margin:0 auto; margin-top:10px; 
                display:flex; flex-direction:row; margin-top:100px;}
.about_2l {width:62%; height:600px;}
.about_2l h1 {font-family:'GowunBatang-Bold'; color:#c9beb4; display: inline-block;  
        font-size:70px; margin-top:190px; margin-left:20px;}
.about_2l span{font-family:'GowunBatang-Regular'; color:#afa59b; font-size:26px; margin-top:1px; margin-left:7px;}
.about_2l h2 {font-family:'GowunBatang-Bold'; color:#3e3e3e; font-size:38px; margin-top:11px;  margin-left:25px;}
.about_2l p {font-family:'S-CoreDream-3Light'; color:#3e3e3e; font-size:15px; line-height:27px; 
        margin-top:7px; margin-left:32px;}
.about_2r {width:38%; height:600px; }
.about_2img {width:100%; height:600px; display:flex; align-items: center; }
.about_2img img {width:370px; height:494px; position: absolute; right:310px; z-index:-1;}

#skill_box {width:1300px; height:700px; margin:0 auto; background-color: aquamarine;}


#work_top_box {width:1300px; height:200px; margin:0 auto; margin-top:10px; display:flex; align-items:flex-end; 
        margin-top:50px;   background-color: brown;}
#work_top_box h1 { font-family:'GowunBatang-Bold'; color:#3e3e3e; font-size:72px; margin-left:20px;}
#work_box {width:1700px; height:670px; margin:0 auto; background-color:darkgrey;}

.work1_box {width:1700px; height:670px; margin:0 auto; display:flex; flex-direction:row; background-color:pink;}
.work_1_l {width:60%; height:670px; margin:0 auto; display:flex; flex-direction:column;  background-color:#eee;}
.work_1_r {width:40%; height:670px; margin:0 auto; background-color:darkgrey;}
.box1_work { width:100%; height:250px; background-color: darkorange;}
.box1_work h1 {font-family:'S-CoreDream-3Light'; color:#3e3e3e; font-size:15px; line-height:27px; 
        margin-top:7px; margin-left:32px;}
.box1_work h2 {font-family:'S-CoreDream-3Light'; color:#3e3e3e; font-size:15px; line-height:27px; 
                margin-top:7px; margin-left:32px;}
.box1_work h3 {font-family:'S-CoreDream-3Light'; color:#3e3e3e; font-size:15px; line-height:27px; 
                        margin-top:7px; margin-left:32px;}


.box2_work { width:100%; height:170px; background-color:darkseagreen}
.box3_work { width:100%; height:250px; background-color:deeppink;}





/* work 슬라이드 */
.mySlides {display: none}
 #work_box img {vertical-align: middle; height:600px;}

.work_container {
  max-width: 1700px;
  height:100%;
  position: relative;
  margin: auto;
  margin-top:40px;
  background-color: cadetblue;
}

.w_dots {width:50px; height:100%; position:absolute; top:0; right:0; z-index:10; background-color:red;
        display:flex; flex-direction:column; align-items:center; justify-content:center;}

.w_dot {
  cursor: pointer;
  height: 15px;
  width: 15px; margin:5px 0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
}

.active, .w_dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* work 슬라이드 */

